body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 20px;
    height: 40px;
    display: inline-block;
    margin: 1.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: #fff;
    color: #4a4a4f;
    border-radius: 2px;
}

.card {
    float: left;
    width: 20%;
    margin-left: 10%;
}

.card a {
    text-align: center;
    text-decoration: none;
    color: #4a4a4f;
}

div:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #4a4a4f;
}

img {
     height: 180px;
     margin: 0 auto;
     overflow: hidden;
}

h1 {
    text-align: center;
    color: #4a4a4f;
}

div {
    border: solid 1px #fff;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
    text-align: center;
}